<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <section class="layout-content" layout:fragment="corpo">

        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><i class="oi oi-caret-right"></i>
                        <span th:text="#{profissional.cadastrar.label}"></span></li>
                </ul>
                <a class="btn btn-primary btn-md" th:href="@{/admins/listarProfissionais}" role="button"> <span
                        class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span> <span
                        th:text="#{profissional.listar.label}"></span>
                </a>
            </div>
        </nav>

        <div class="container" id="cadastro">

            <div th:replace="fragments/alert"></div>

            <form th:action="${profissional.id == null} ? @{/admins/salvarProfissional} : @{/admins/editarProfissional}"
                th:object="${profissional}" method="POST">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label th:text="#{profissional.cpf.label}" for="CPF"></label>
                        <input type="text" class="form-control" id="CPF" autofocus="autofocus" th:field="*{CPF}"
                            placeholder="___.___.___-__" data-mask="000.000.000-00" data-mask-reverse="true"
                            th:classappend="${#fields.hasErrors('CPF')} ? is-invalid" />
							
						<div class="invalid-feedback">
							<span th:errors="*{CPF}"></span>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label th:text="#{profissional.email.label}" for="email"></label> 
						<input type="email" class="form-control" id="email"
							th:placeholder="#{profissional.email.label}"
							autofocus="autofocus" th:field="*{email}"
							th:classappend="${#fields.hasErrors('email')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{email}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{profissional.senha.label}" for="senha"></label> 
						<input type="text" class="form-control" id="senha"
							th:placeholder="#{profissional.senha.label}" autofocus="autofocus"
							th:field="*{senha}"
							th:classappend="${#fields.hasErrors('senha')} ? is-invalid" th:readonly="${profissional.id != null}"/>
							
						<div class="invalid-feedback">
							<span th:errors="*{senha}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{profissional.nome.label}" for="nome"></label> 
						<input type="text" class="form-control" id="nome"
							th:placeholder="#{profissional.nome.label}"
							autofocus="autofocus" th:field="*{nome}"
							th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{profissional.telefone.label}" for="telefone"></label> 
						<input type="text" class="form-control" id="telefone" autofocus="autofocus"
							th:field="*{telefone}" placeholder="(99) 99999-9999"
							data-mask="(99) 99999-9999"
							th:classappend="${#fields.hasErrors('telefone')} ? is-invalid" />
							
						<div class="invalid-feedback">
							<span th:errors="*{telefone}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{profissional.nascimento.label}" for="nascimento"></label> 
						<input type="date" class="form-control" id="nascimento" autofocus="autofocus"
							th:field="*{nascimento}" placeholder="dd/mm/yyyy"
							th:classappend="${#fields.hasErrors('nascimento')} ? is-invalid" />
							
						<div class="invalid-feedback">
							<span th:errors="*{nascimento}"></span>
						</div>
					</div>

                    <div class="form-group col-md-6">
						<label th:text="#{profissional.sexo.label}"/>
                        <label for="sexo1" th:text="#{profissional.sexo.masc}"/>
                        <input type="radio" id="sexo1" name="sexo" value="M">
                        <label for="sexo2" th:text="#{profissional.sexo.fem}"/>
                        <input type="radio" id="sexo2" name="sexo" value="F">
							
						<div class="invalid-feedback">
							<span th:errors="*{sexo}"></span>
						</div>
					</div>

					</div>
					<input type="hidden" th:field="*{id}" id="id">
					<input type="hidden" name="role" value="PROFISSIONAL">
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>