<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{inscricao.cadastrar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/empresas/listarInscricoes}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{inscricao.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="@{/empresas/editarInscricao/}"
				th:object="${inscricao}" method="POST">

				<div class="form-row">					
					<div class="form-group col-md-6">
					<label th:text="#{inscricao.status.label}" for="status"></label>
					<select id="status" class="form-control" th:field="*{status}"
						th:classappend="${#fields.hasErrors('status')} ? is-invalid">
						  <option value="ABERTO"><span th:text="#{inscricao.status.open}"></span></option>
						  <option value="REJEITADO"><span th:text="#{inscricao.status.rejected}"></span></option>
						  <option value="ENTREVISTA"><span th:text="#{inscricao.status.chosen}"></span></option>
					</select>							
						<div class="invalid-feedback">
							<span th:errors="*{status}"></span>
						</div>
						</div>

						<div class="form-group col-md-6">
						<label th:text="#{inscricao.link.label}" name="link"></label> 
						<input type="text" class="form-control"/>
					</div>
						<div class="form-group col-md-6">
						<label th:text="#{inscricao.dataE.label}" name="dataEntrevista"></label> 
						<input type="date" class="form-control"/>
					</div>
						<div class="form-group col-md-6">
						<label th:text="#{inscricao.horario.label}" name="horario"></label> 
						<input type="time" class="form-control"/>							
				</div>
				

				<input type="hidden" id="id" th:field="*{id}" />
				<input type="hidden" id="CV" th:field="*{CV}">
				<input type="hidden" id="data" th:field="*{data}">
				<input type="hidden" id="vaga" th:field="*{vaga}">
				<input type="hidden" id="profissional" th:field="*{profissional}">

				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm mt-5">
				</button>
			</form>
		</div>
	</section>
</body>
</html>