<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{inscricao.listar.label}"></span>
					</li>
				</ul>
				
			</div>
		</nav>
		
		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th class="bg-warning">#</th>
							<th class="bg-warning" th:text="#{inscricao.profissional.label}"></th>
							<th class="bg-warning" th:text="#{inscricao.cv.label}"></th>
							<th class="bg-warning" th:text="#{inscricao.status.label}"></th>
							<th class="bg-warning" th:text="#{inscricao.data.label}"></th>
							<th class="bg-warning" th:text="#{inscricao.vaga.label}"></th>
							<th class="bg-warning" th:text="#{inscricao.cidade.label}"></th>
							<th class="bg-warning" th:text="#{inscricao.acoes.label}"></th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="inscricao : ${inscricoes}">
							<td th:text="${inscricao.id}"></td>
							<td th:text="${inscricao.profissional.nome}"></td>
							<td th:text="${inscricao.CV}"></td>
							<td th:text="${inscricao.status}"></td>
							<td th:text="${inscricao.data}"></td>
							<td th:text="${inscricao.vaga.nome}"></td>
							<td th:text="${inscricao.vaga.empresa.cidade}"></td>
							<td colspan="1" class="d-flex justify-content-around">
								<a class="btn btn-info btn-sm" th:href="@{/empresas/editarInscricao/{id} (id=${inscricao.id}) }"
									role="button"> 
									<span class="oi oi-pencil" th:title="#{link.editar.label}" aria-hidden="true"> </span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>